* {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: sans-serif;
}
h1 {
    text-transform: uppercase;
    text-align: center;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    padding: 20px;
    background: #000;
}
.header-wrap {
    display: flex;
    align-items: center;

    .logo {
        width: 100px;
        img {
            width: 100%;
        }
    }
    .title {
        flex: 1 1 auto;
        margin: 0 auto;
        text-align: center;
        h2 {
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 15px;
            font-size: 28px;
        }
    }
}

.itk-slider {
    position: relative;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    display: flex;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    /*width: 60%;*/
            .number-text {
        color: #000;
        font-size: 14px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .slide-img-wrap {
        position: relative;
        flex: 1 1 auto;
        text-align: center;
        img {
            width: 100%;
        }
    }
    button {
        margin: 0 10px;
        height: 50px;
        width: 50px;
        background-color: #ffd429;
        border-radius: 100px;
        transition: all 2.5s ease;
        &:hover {
            background: #f4cd34;
        }
        &:focus {
            outline: none;
        }
    }
}
.footer {
    background: #164d7a;
    padding: 10px 0;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .git-hub {
        }
        .copyright {
            margin: 0;
            font-size: 14px;
            text-align: center;
        }
        .host-name-wrap {
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .header-wrap {
        .logo {
            width: 40px;
        }
        .title {
            h2 {
                letter-spacing: 8px;
                font-size: 18px;
            }
        }
    }
    .itk-slider {
        button {
            width: 40px;
            height: 40px;
        }
    }
    .footer {
        .footer-wrap {
            flex-wrap: wrap;
            .git-hub {
                order: 2;
                flex: 0 1 50%;
                text-align: left;
            }
            .copyright {
                order: 1;
                flex: 0 1 100%;
                margin: 0;
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;
            }
            .host-name-wrap {
                order: 3;
                flex: 0 1 50%;
                text-align: right;
            }
        }
    }
}
